*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: rgb(40, 40, 40);
    font-family: General Sans Medium;
}


.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(115, 96, 96);
    margin: auto;
    margin-top: 20px;
    width: 80%;
}
.heading > h1{
    font-size:3vw;
    padding: 5px 5px;
}
.data{
    position: relative;
    height: 85vh;
    width: 80%;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
   
}


button{
    height: 3em;
    width: 8em;
    font-size: 1em;
    margin-top: 5px;
    font-weight: bold;
    border-radius: 10px;
    
}
#pdf-container{
 display: none;
 width: 55%;
 height: 90%;
 border: 2px solid black;
 border-radius:10px ;
 overflow: hidden;
}



/* #pdf-container {
    width: 80%;
    height: 400px;
    margin: 20px auto;
    border: 1px solid #ccc;
    display: none; /* Initially hide the iframe 
}*/ 
@media screen and (max-width: 768px) {
    #pdf-container{
        width: 90%;
        border: 2px solid rgb(139, 139, 139);

    }
    
}
